@font-face {
    font-family: "BarlowBold";
    src: url("../fonts/Barlow-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BarlowSemiBold";
    src: url("../fonts/Barlow-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BarlowMedium";
    src: url("../fonts/Barlow-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BarlowRegular";
    src: url("../fonts/Barlow-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
