/* Color
-------------------------- */
$--color-primary: #DA2037;
$--color-primary-light-1: #FA253E;
$--color-white: #FFFFFF;
$--color-black: #000000;
$--color-success: #67C23A;
$--color-warning: #EEA944;
$--color-danger: #DA2037;
$--color-text-primary: #3A3B3B;
$--color-text-regular: #797A7A;
$--color-text-secondary: #A4A5A5;
$--color-text-placeholder: #797A7A;
$--border-color-base: #C4CED5;
$--background-color-base: #F4F6F8;
$--font-size-extra-large: 20px;
$--font-size-large: 18px;
$--font-size-medium: 16px;
$--font-size-base: 14px;
$--font-size-small: 13px;
$--input-font-color: #242525;

$--color-blue: #00429F; // custom
$--color-text-title: #0F1010; // custom
$--border-line: #E1E5EA; // custom
$--font-size-h1: 30px; // custom
$--font-size-h2: 28px; // custom

